   body {
       background: rgb(48, 48, 48);
       color: rgb(255, 255, 255);
       padding: 10px;
       font-family: arial;
   }
   #all-contents {
     max-width: 800px;
       margin: auto;
   }

   /* navigation menu */
   nav {
       background: rgb(36, 36, 36);
      margin: 0 auto;
      margin-bottom: 20px;
       display: flex;
       padding: 10px;
      border-radius: 5px;
   }
   h1 {
       display: flex;
       align-items: center;
       color: white;
       flex: 1;
       margin: 0;
   }
   #nav-ul {
       list-style-image: none;
   }
   .nav-li {
       display: inline-block;
       padding: 0 10px;
   }
   a {
       text-decoration: none;
       color: #fff;
   }

   /* main container area beneath menu */
   main {
       background: rgb(66, 66, 66);
       border-radius: 5px;
   }
   .sidebar {
       margin-right: 25px;
       padding: 10px;
   }
   .sidebar-img {
       width: 200px;
   }
   .content {
       flex: 1;
       padding: 15px;
   }

   /* portfolio styles */
   #interests {
       border: 4px silver ridge;
       padding: 8px;
   }
   h2, h3 {
       margin: 0px;
   }
